[submodule "modules/hyperbus"]
	path = modules/hyperbus
	url = https://github.com/hypertino/hyperbus.git
[submodule "modules/hyperfacade"]
	path = modules/hyperfacade
	url = https://github.com/hypertino/hyperfacade.git
[submodule "modules/hyperstorage-service"]
	path = modules/hyperstorage-service
	url = https://github.com/hypertino/hyperstorage-service.git
