[submodule "hyperbus"]
	path = docs/hyperbus
	url = https://github.com/hypertino/hyperbus.git
[submodule "docs/hyperstorage-service"]
	path = docs/hyperstorage-service
	url = https://github.com/hypertino/hyperstorage-service.git
[submodule "docs/hyperfacade"]
	path = docs/hyperfacade
	url = https://github.com/hypertino/hyperfacade.git
